.nav {
  grid-area: n;
  background-color: rgb(162, 0, 255);
}
.nav__item {
  display: block;
  text-decoration: none;
  color: white;
}
.nav__item_active {
  color: red;
  font-style: italic;
}
a.activeLink {
  color: gold;
}
